@import "tailwindcss";

@layer components {
    .PrimaryBtn {
        @apply flex items-center gap-3 bg-white text-black px-10 py-4 rounded-2xl font-black uppercase whitespace-nowrap tracking-tight hover:bg-indigo-500 hover:text-white transition-all hover:scale-105 active:scale-95 shadow-xl shadow-white/5
    }
}